<div>
  <h3 class="text-center">Table List User</h3>
  <div class="table">
    <table class="table table-bordered text-center">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>
            <a class="btn btn-primary" href="#">View</a>
            <a class="btn btn-success" href="#">Edit</a>
            <a class="btn btn-danger" href="#">Delete</a>
          </td>

        </tr>

      </tbody>
    </table>
  </div>

</div>