<div class="">
  <h3>Create User</h3>
  <form action="/create-user" method="post">
    <div class="form-group">
      <label for="exampleInputPassword1">Username</label>
      <input id="username" name="username" type="text" class="form-control" />
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input
        id="email"
        name="email"
        type="email"
        class="form-control"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Phone Number</label>
      <input
        id="phoneNumber"
        name="phoneNumber"
        type="text"
        class="form-control"
      />
    </div>

    <button type="submit" class="btn btn-primary">Create User</button>
  </form>
</div>