<div class="">
  <h3>Edit User</h3>
  <form>
    <div class="form-group">
      <label for="exampleInputPassword1">Username</label>
      <input type="user_name" class="form-control" />
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" aria-describedby="emailHelp" />
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Phone Number</label>
      <input type="phone_number" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Create User</button>
  </form>
</div>