<div class="container">
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="..." />
    <div class="card-body">
      <h2>Username: </h2>
      <h2>Email: </h2>
      <h2>Phone Number: </h2>
    </div>
  </div>
</div>